//colors
$red : #bc2e3a;
$black : #171717;
$header-color: #494949;

//fonts
$latoblack : 'Lato-Black', sans-serif;
$latobold : 'Lato-Bold', sans-serif;
$lemonmilkbold : 'LemonMilkbold', sans-serif;
$openSansbolditalic : 'OpenSans-BoldItalic', sans-serif;
$opensansextrabold : 'OpenSans-Extrabold', sans-serif;
$opensansitalic : 'OpenSans-Italic', sans-serif;
$opensansregular : 'OpenSans-Regular', sans-serif;
$peacesans : 'PeaceSans', sans-serif;
$pumpdemibold : 'Pump-Demi-Bold-LET-Plain1.0', sans-serif;
