// bower:scss
@import "bower_components/bootstrap-grid-sass/bootstrap-grid-sass.scss";
// endbower



// modules & sections

@import "modules/sprite";
@import "functions";
@import "reset";
@import "fonts";
@import "variables";

@import "sections/header";
@import "sections/head-section";
@import "sections/aboutCompany-section";
@import "sections/capabilities-section";
@import "sections/working-section";
@import "sections/slider-section";



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



html {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  line-height: 1.2;
}

h1 {

}

h2 {
  font-size: 62px;
  font-family: $peacesans;
  color: $header-color;
}
h3 {
  font-family: $latobold;
  font-size: 40px;

}

h4 {
  font-size: 30px;
  font-family: $opensansextrabold;
  color: #6f6f6e;
  line-height: 1.5;
}
h5 {

}

p {
  font-family: $opensansregular;
  font-size: 17px;
  color: #6a6a6a;
  line-height: 1.5;
}

.btn {
  height: 54px;
  width: 192px;
  font-family: $latobold;
  font-size: 22px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.btn-red {
  @extend .btn;
  background-color: $red;
  color: #ffff;
}

.logo {
  font-family: $latoblack;
  font-size: 43px;
  color: #fff;
}
