doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title webapp
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    link(rel='stylesheet' href='slick/slick.css')
    //link(rel='stylesheet' href='slick/slick-theme.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/slick/slick.min.js')
    // endbuild
  body
    header
      .container
        .header-menu-block
          span.logo
            | Agency
          ul.header-menu
            li.header-menu-item
              a(href='#')
                | Home
            li.header-menu-item
              a(href='#')
                | About us
            li.header-menu-item
              a(href='#')
                | Team
            li.header-menu-item
              a(href='#')
                | Services
            li.header-menu-item
              a(href='#')
                | Process
            li.header-menu-item
              a(href='#')
                | Clients
            li.header-menu-item
              a(href='#')
                | Work
          a.header-loupe-icon(href='#')
            img(src='images/icons/loupe-icon.png', alt='')
          a.header-facebook-icon(href='#')
            img(src='images/icons/facebook-icon.png', alt='')
        .header-content
          .header-content-inscription
            h1
              | Think
              br
              | outside
              br
            span of the box
            a.btn-header(href='#')
              | Read more
          img(src='images/Model.png', alt='' class='skateboarder')


    .aboutCompany-section
      .container
        .aboutCompany-content
          h2
           | Who we are
          p
           | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          a.btn-red(href='#')
           | Read more
        img(src='images/who-section-bg.jpg' class='aboutCompany-bg')
        img(src='images/macBook.png' class='macBook')

    .capabilities-section
      .capabilities-section-triangle
      .container
        h2
         | What we do
        .capabilities-block
          .capabilities-block-item
            .capabilities-block-item-header
              .circle.creative-work
              h4
               | Creative Work
            p
             | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Короче текст - рыба.
          .capabilities-block-item
            .capabilities-block-item-header
              .circle.we-do-best
              h4
                | We do Best
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Который должен гармонично смотреться.
          .capabilities-block-item
            .capabilities-block-item-header
              .circle.best-company
              h4
                | Best Company
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Не зависимо от обьёма текста в блоке.
          .capabilities-block-item
            .capabilities-block-item-header
              .circle.nice-idea
              h4
                | Nice Idea
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Пишу от нехуй делать.
          .capabilities-block-item
            .capabilities-block-item-header
              .circle.professional
              h4
                | Professional
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Здесь был Вася.
          .capabilities-block-item
            .capabilities-block-item-header
              .circle.great-services
              h4
                | Great Services
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Родилась мечта увидеть настоящий звездопад.

    .working-section
      .working-section-triangle-red
      .working-section-triangle-black
      .container
        .working-content
          h2
           | How we works
          p
           | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          a.btn-red(href='#')
           | Read more
        ul.working-list
          li.working-list-item.idea
            .block
              h3.number
               | 1.
              h3.name
               | Idea
              p
               | Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          li.working-list-item.design
            h3.number
             | 2.
            h3.name
             | Design
            p
             | Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          li.working-list-item.output
            h3.number
             | 3.
            h3.name
             | Output
            p
             | Sed ut perspiciatis unde omnis iste natus error sit voluptatem.

    .slider-section
      .container
        h2
         | Our creative team
      .team-slider
        .team-slider-slide.slide-stiles
          img(src='images/girl.png')
          span.slide-name
           | Shaina Doe
          span.position
           | Designer

        .team-slider-slide.slide-stiles
          img(src='images/')
          span.slide-name
           | John Rock
          span.position
           | programmer

        .team-slider-slide.slide-stiles
          img(src='images/')
          span.slide-name
           | Stepanida Drimovna
          span.position
           | manager





    //team-slider (slick)
    script.
      $('.team-slider').slick({
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 3,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 3
            }
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          }
        ]
      });

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
          function () {
            (b[l].q = b[l].q || []).push(arguments)
          });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/modernizr/modernizr.js')
    // endbower
    // endbuild
    // build:js scripts/plugins.js
    script(src='/bower_components/bootstrap/js/dist/util.js')
    script(src='/bower_components/bootstrap/js/dist/alert.js')
    script(src='/bower_components/bootstrap/js/dist/button.js')
    script(src='/bower_components/bootstrap/js/dist/carousel.js')
    script(src='/bower_components/bootstrap/js/dist/collapse.js')
    script(src='/bower_components/bootstrap/js/dist/dropdown.js')
    script(src='/bower_components/bootstrap/js/dist/modal.js')
    script(src='/bower_components/bootstrap/js/dist/scrollspy.js')
    script(src='/bower_components/bootstrap/js/dist/tab.js')
    script(src='/bower_components/bootstrap/js/dist/tooltip.js')
    script(src='/bower_components/bootstrap/js/dist/popover.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
